---
layout: default
---

<div class="jumbotron">
  <p>This 1-credit seminar is designed to teach the essentials of using a
  computer effectively for EECS students. While the target audience is CS/CE/DS
  students, any student wishing to learn how to use their computer much more
  effectively is encouraged to join. Topics covered include shells, environment,
  scripting, Makefiles, compilers, debugging tools, and version control. The
  last month of the course will be open to student input for remaining useful
  topics to cover.</p>
</div>

<div class="alert alert-info">
  <h3 style="margin-top: 0px; font-weight: bold;">Updates</h3>

  {% comment %} Do math on unix timstamps to process in liquid {% endcomment %}
  {% assign onemonthago = 'now' | date: '%s' | minus: 2592000 %}
  {% assign semesterbreak = 1466972171 %}
  {% for update in site.categories.updates %}
    {% if update_date < semesterbreak %}
      {% continue %}
    {% endif %}

    {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
    {% assign update_date = update.date | date: '%s' | times: 1 %}
    {% if update_date > onemonthago %}
      {{ update.output }}
    {% endif %}
  {% endfor %}

  <p><a onclick='$("#old-updates").show(); $(this).hide()'>[+] Show older updates</a></p>

  <div id="old-updates" style="display: none">

  {% for update in site.categories.updates %}
    {% if update_date < semesterbreak %}
      {% continue %}
    {% endif %}

    {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
    {% assign update_date = update.date | date: '%s' | times: 1 %}
    {% if update_date <= onemonthago %}
      {{ update.output }}
    {% endif %}
  {% endfor %}

  </div><!-- old-updates -->
</div>
<!--
<div class="alert alert-success" style="text-align: center">
	<h2>Registration Information</h2>
	<h4>The course numbers in Wolverine Access are <strong>31938</strong> for 003,
	<strong>34428</strong> for 004, and <strong>34525</strong> for 005.</h4>
	<h4>Be sure to register only for <strong>sections 003, 004, or 005</strong>, the other
	398 sections are different courses!</h4>
	<hr />
	<h4 style="text-align: right">For any other questions, email me at <a href="mailto:ppannuto@umich.edu">ppannuto@umich.edu</a></h4>
</div>
-->
<hr />


<h2><a class="anchor" name="prereqs"></a>Course Pre-Requisites</h2>
The only enforced pre-requisite for this course is ENGN&nbsp;101/151 or
EECS&nbsp;182/183, however it is advised that students have either taken or are
concurrently enrolled in EECS&nbsp;280.  A basic understanding of programming
(if/else, for, while) and a passing familiarity with a compiler and command
prompt is the only expected background.

<h2><a class="anchor" name="syllabus"></a>Syllabus &amp; Essential Info</h2>

<h3>Course Staff</h3>
<div class="table-responsive">
  <table class="table staff-table">
    <tr>
      <td><img src="/static/img/ppannuto-square.jpg" alt="Pat Pannuto"      /></td>
      <td><img alt="@marcus-darden" class="avatar" src="https://avatars1.githubusercontent.com/u/1323862?v=3&amp;s=120"></td>
      <!--
      <td><img src="/static/img/mxsmith-square.jpg"  alt="Max Smith"        /></td>
      <td><img src="/static/img/sniderdj-square.jpg" alt="David Snider"     /></td>
      <td><img src="/static/img/wkhan-square.jpg"    alt="Waleed Khan"      /></td>
      <td><img src="/static/img/mterwil-square.jpg"  alt="Matt Terwilliger" /></td>
      <td><img src="/static/img/thealex-square.jpg"  alt="Alex Chojnacki"   /></td>
      <td><img src="/static/img/malihuss-square.jpg" alt="Mo Hussein"       /></td>
      -->
    </tr>
    <tr>
      <td>Pat Pannuto</td>
      <td>Marcus Darden</td>
      <!--
      <td>Max Smith</td>
      <td>David Snider</td>
      <td>Waleed Khan</td>
      <td>Matt Terwilliger</td>
      <td>Alex Chojnacki</td>
      <td>Mo Hussein</td>
      -->
    </tr>
  </table>
</div>

<h3>Course Resources</h3>
<h4>Course Q&amp;A / Forum &ndash; <a href="https://piazza.com/class/ipx0ja2lb4z471" target="_blank">Piazza</a></h4>
<h4>Assignment Submission &amp; Grades &ndash; <a href="https://gradescope.com/courses/3499" target="_blank">Gradescope</a></h4>
<!--
<p>For most questions, please use <a href="https://piazza.com/class/ij1jghks3dr59n" target="_blank">piazza</a>
so that all students may benefit from the question and answer. To reach the course staff, please e-mail
<a href="mailto:c4cs-staff@umich.edu">c4cs-staff@umich.edu</a>.
-->
<p>To borrow a CSE laptop for the semester, contact Don Winsor at <a href="mailto:don@umich.edu">don@umich.edu</a>.</p>
<p>
For general issues, e-mail the course staff at <a href="mailto:c4cs-staff@umich.edu">c4cs-staff@umich.edu</a>.
For sensitive issues, please e-mail me directly at <a href="mailto:ppannuto@umich.edu">ppannuto@umich.edu</a>.
</p>

<h3><a class="anchor" name="times"></a>Course Meeting Times and Locations</h3>
<dl class="dl-horizontal">
  <dt>Section 002 (class no 31180)</dt>
  <dd>1670 BBB, Wednesday 1:30-3:00</dd>
  <dt>Section 003 (class no 31181)</dt>
  <dd>1670 BBB, Friday 1:30-3:00</dd>
</dl>
<p>In general, you may attend any section, however if the classrooms become
overfull, we will have to ask that you attend the section you are officially
registered for.</p>

<div id='calendar-loading'>Loading calendar...</div>
<div id='calendar'></div>
<a href="https://calendar.google.com/calendar/embed?src=4a0vvtkg11f6g0qs2er37gkkf8%40group.calendar.google.com&ctz=America/New_York" class="pull-right" target="_blank">Google Calendar link</a>

<h3>Syllabus</h3>
<div class="alert alert-warning">
  <span class="glyphicon glyphicon-warning-sign"></span>
  As this is a new class, the syllabus is subject to change in response to
  feedback and class needs throughout the term.
</div>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th style="min-width: 190px;" colspan="2"></th>
      <th style="min-width: 300px;">Topic</th>
      <th style="min-width: 400px;">Lecture Materials</th>
    </tr>
    {% for week in site.syllabus %}
      {% if week.categories contains 'f16' %}
        {{ week.output }}
      {% endif %}
    {% endfor %}
  </table>
</div><!-- table-responsive -->

<!--
<p>Some suggestions for special topics lectures:</p>
<ul>
	<li>cron jobs</li>
	<li>Python, Perl, &lt;insert pet scripting language here&gt;, ...</li>
	<li>Personal Security / Integrity - disk encryption, pgp, etc</li>
	<li>Packaging (how to get your program into apt-get repositories)</li>
	<li>Internet basics (routing, AS's, DNS, UDP, TCP, etc etc)</li>
	<li>Internet tools, (nc, dig, nslookup, whois, etc)</li>
	<li>LaTeX</li>
	<li>Postscript</li>
</ul>
-->

<h2><a class="anchor" name="grading"></a>Attendance, Grading, and Homework</h2>
<p>
This course is graded on a straight scale, it will not be curved.
Each component is graded independently and then combined into a final grade.
</p>

<h3>Final Grades</h3>
<div class="table-responsive">
<table class="table grade-table">
	<tr>
		<th></th>
		<th>A+<br /><small>&gt;4.0</small></th>
		<th>A<br /><small>[3.67,&nbsp;4.0]</small></th>
		<th>A-<br /><small>[3.33,&nbsp;3.67)</small></th>
		<th>B+<br /><small>[3.0,&nbsp;3.33)</small></th>
		<th>B<br /><small>[2.67,&nbsp;3.0)</small></th>
		<th>B-<br /><small>[2.33,&nbsp;2.67)</small></th>
		<th>C+<br /><small>[2.0,&nbsp;2.33)</small></th>
		<th>C<br /><small>[1.67,&nbsp;2.0)</small></th>
		<th>C-<br /><small>[1.33,&nbsp;1.67)</small></th>
		<th>D+<br /><small>[1.0,&nbsp;1.33)</small></th>
		<th>D<br /><small>(0.0,&nbsp;1.0)</small></th>
		<th>F<br /><small>0.0</small></th>
	</tr>
</table>
</div>

<p>
As example, a student with 19 attendance points, 16 homework points, 3 advanced
exercise points, and a 95% on the final exam would receive a final grade of
(3.67+3.33+4.0+.95*4.0) / 4.0 = 3.7, 3.7&nbsp;&gt;&nbsp;3.67&nbsp;&rarr;&nbsp;A.
</p>

<h3>Attendance (25%)</h3>

<p>Attendance is required for this course. Each lecture will begin with a
question from last week&rsquo;s material. A correct answer is worth 2&nbsp;points,
an incorrect answer is worth 1&nbsp;point, and no answer is worth 0&nbsp;points.
The week before spring break is optional with no attendance taken.
The maximum possible attendance score is thus 13&nbsp;x&nbsp;2&nbsp;=&nbsp;26.
</p>

<div class="table-responsive">
<table class="table grade-table">
	<tr>
		<th></th>
		<th>A+ (4.33)</th>
		<th>A (4.0)</th>
		<th>A- (3.67)</th>
		<th>B+ (3.33)</th>
		<th>B (3.0)</th>
		<th>B- (2.67)</th>
		<th>C+ (2.33)</th>
		<th>C (2.0)</th>
		<th>C- (1.67)</th>
		<th>D+ (1.33)</th>
		<th>D (1.0)</th>
		<th>F (0.0)</th>
	</tr>
	<tr>
		<th>Attendance Points</th>
		<td>24&#x2011;26</td>
		<td>20&#x2011;23</td>
		<td>18&#x2011;19</td>
		<td>16&#x2011;17</td>
		<td>14&#x2011;15</td>
		<td>12&#x2011;13</td>
		<td>10&#x2011;11</td>
		<td>8&#x2011;9</td>
		<td>6&#x2011;7</td>
		<td>4&#x2011;5</td>
		<td>2&#x2011;3</td>
		<td>0&#x2011;1</td>
	</tr>
</table>
</div>

<h3>Homeworks (25%)</h3>

<p>There are 12 homeworks in the course. Homework is due by the
<i>beginning</i> of the first lecture the week after it is assigned. Homeworks
will be graded on a {0,1,2} scale:</p>
<dl class="dl-horizontal">
	<dt>0 points</dt><dd>No / very little effort</dd>
	<dt>1 point<dd>A solid effort, but not complete</dd>
	<dt>2 points<dd>Completed successfully</dd>
</dl>
<p>This is a 1&nbsp;credit course and the homeworks are designed to be
commensurate with that. The goal of the homeworks is to reinforce concepts
introduced in lecture and to give hands-on experience working with tools.</p>
<p>An A&nbsp;student will have at least 18 total homework points (e.g. 6&nbsp;1's and 6&nbsp;2's).</p>

<div class="table-responsive">
<table class="table grade-table">
	<tr>
		<th></th>
		<th>A+ (4.33)</th>
		<th>A (4.0)</th>
		<th>A- (3.67)</th>
		<th>B+ (3.33)</th>
		<th>B (3.0)</th>
		<th>B- (2.67)</th>
		<th>C+ (2.33)</th>
		<th>C (2.0)</th>
		<th>C- (1.67)</th>
		<th>D+ (1.33)</th>
		<th>D (1.0)</th>
		<th>F (0.0)</th>
	</tr>
	<tr>
		<th>Homework Points</th>
		<td>22&#x2011;24</td>
		<td>20&#x2011;21</td>
		<td>18&#x2011;19</td>
		<td>16&#x2011;17</td>
		<td>14&#x2011;15</td>
		<td>12&#x2011;13</td>
		<td>10&#x2011;11</td>
		<td>8&#x2011;9</td>
		<td>6&#x2011;7</td>
		<td>4&#x2011;5</td>
		<td>2&#x2011;3</td>
		<td>0&#x2011;1</td>
	</tr>
</table>
</div>

<h3>Advanced Exercises (25%)</h3>

<p>Each homework will have at least one advanced exercise option. The intention
is to give a guided exploration of topics that people find most interesting.
These advanced exercises will also be a little more time consuming, have a little
less guidance, and require you to research and discover a little on your own.
Over the course of the semester, you are expected to do at least three of the
advanced exercises.</p>
<p>The advanced exercises are graded on a simple 0 or 1 system, either you did
the whole thing or you did not. Some weeks may have multiple advanced exercise
options, however you may only earn 1 advanced exercise point per week (though
that shouldn&rsquo;t stop you from doing more if you are interested!).</p>

<div class="table-responsive">
<table class="table grade-table">
	<tr>
		<th></th>
		<th class="grade-table">A+ (4.33)</th>
		<th class="grade-table">A (4.0)</th>
		<th class="grade-table">B (3.0)</th>
		<th class="grade-table">C (2.0)</th>
		<th class="grade-table">F (0.0)</th>
	</tr>
	<tr>
		<th>Advanced Exercises Points</th>
		<td>6+</td>
		<td>3&#x2011;5</td>
		<td>2</td>
		<td>1</td>
		<td>0</td>
	</tr>
</table>
</div>

<h3>Final Exam (25%)</h3>
<p>
The final exam will be cumulative over all of the whole term.
We have a 90-minute time slot for the exam.
This is a very broad course. The exam is not designed to be &ldquo;tricky&rdquo;
or test the esoteric corners of things presented in lecture. A student who
attended every lecture and completed all the homeworks will likely need minimal
studying for this exam.
</p>

<h2><a class="anchor" name="links"></a>Useful Links / Resources</h2>
<ul>
	<li><a href="http://c-faq.com/index.html">comp.lang.c FAQ</a>: Next time
	you're bored, don't facebook, reddit, or google+; instead skim a
	section. It's really interesting material, presented in short, easy
	snippets</li>
	<li><a href="http://stackoverflow.com">Stack Overflow</a>: Got a
	problem? Try searching here instead of Google. Odds favor this site will
	be the first result anyway, and it's answers are much more complete,
	readable, and useful</li>
</ul>
