  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-proofer-ignore>
  <script>
// Redirect to HTTPS by default
// https://konklone.com/post/github-pages-now-sorta-supports-https-so-use-it
var host = "c4cs.github.io";
if ((host == window.location.host) && (window.location.protocol != "https:")) {
  window.location.protocol = "https";
}
  </script>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css" />
  <link rel="stylesheet" href="/static/css/fullcalendar.io/fullcalendar.css" />
